.borderDiv {
    width: 800px;
    height: 600px;
    border: 1px solid;
    overflow: hidden;
    left: 100px;
    top: 20px;
    position: relative;
  }
  .mainContainer {
    width: 2000px;
    height: 1500px;
    background-color: #bad6cb;
    position: relative;
  }
  #view {
    left: -400px;
    top: -300px;
  }
  
  /* minimap */
  #minimap #selectWin {
    z-index: 9999;
  }
  #minimap #selectWin .selectionWin {
    position: absolute;
    background-color: white;
    opacity: 0.5;
  }
  #minimap,
  #minimap #selectWin,
  #minimap #miniview {
    position: fixed;
    top: 60px;
    right: 10px;
    overflow: hidden;
  }
  #minimap .mainContainer {
    transform-origin: left top 0;
    background-color: #d2ddc6;
  }
  